{% extends "IdeaFusionCoreBundle:Core:layout.html.twig" %}


{% block body %}

{% for idea in ideas %}
<div>
	<h3><a href="">{{idea.title}}</a></h3>
	<p>
		{{idea.description}}
	</p>
</div>
{% endfor %}

{% endblock body %}